


.border {
	background-color: white;
	border: 2px solid #9da5a5;
	padding: 15px;
}
.ipu {
	margin-bottom: 20px;
}
input[type=checkbox] {
	margin-right: 15px;
	float: left;
}
.alert-none {
	
	border-bottom: 1px solid #c5c5c5;
}


