
html, body{
	padding: 0;
	margin: 0;
}
.page {
	width: 100%;
	height: 1500px;
	background-color: red;
	color: white;
	position: relative;
}

.temp {
	width: 100%;
	height: 100px;
	background-color: green;
	text-align: center;
	font-size: 30px;
}

.btn-scroll {
	width: 120px;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	position: fixed;
	bottom: 0;
	right: 20px;
	border: none;
}